// import all of partials first
// order is important
@import "modules/reset";
@import "modules/vars";
@import "modules/queries";

@import "modules/defaults";
@import "modules/container";

body {
    height: 100vh;
    width: 100vw;
}

h1 {
    margin: 10vh 10vw;
    font-size: 36px;
    font-family: "Alegreya", "Times New Roman", serif;
    letter-spacing: 2px;
}

